@import url(http://fonts.googleapis.com/css?family=Hind:600,300,400);

@import "partials/_resets";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font: normal 16px/1.2 'Hind', Arial, Helvetica, sans-serif;
  // -webkit-font-smoothing: subpixel-antialiased;
  background: url(../images/vintage_speckles.png) repeat;
}

$dark-brown: #322110;
$brown: #734d2b;
$light-brown: #d7cdc3;
$taupe: #e2dad3;

$input-lh: 2.5rem;
$theme-dark: $dark-brown;
$theme-base: $brown;
$theme-light: $light-brown;

@mixin input-size($hasBoarder) {
  font-size: 1.5rem;
  
  @if $hasBoarder {
    padding: 0.5rem;
  } @else {
    padding: 0.625rem;
  }
} 

body {
  height: 100%;
  background: linear-gradient(rgba(115, 77, 42, 0.5), rgba(115, 77, 42, 0));
  
}

.container {
  margin: 0 auto;
  max-width: 500px;
}

i.fa {
  display: block;
}

.heading {
  margin: 0 auto 15px;
  padding: 15px 0;
  min-width: 320px;
  background: linear-gradient(#322112, #734d2b);
  color: $theme-light;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 0 3px 3px rgba(115, 77, 42, 0.4);
  
  h1 {
    font-size: 3.4rem;
    text-align: center;
  }

  h2 {
    font-size: 1.6rem;
    text-align: center;
  }  
}

.button {
  display: inline-block;
  line-height: normal;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
     -moz-user-drag: none;
          user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.add-todo-form {
  position: relative;
  margin-bottom: 12px;
  
  .top-row {
    background: rgba(255,255,255,0.8);
    box-shadow: 0 -1px 2px 2px rgba(115, 77, 42, 0.2);
    border-radius: 4px;

    .add-todo-title {
      @include input-size(false);
      width: calc(100% - 3.2rem);
      padding-left: 1rem;
      background-color:transparent;
      border: 0px solid;
    }

    .add-todo-button {
      @include input-size(true);
      float: right;
      border: 2px solid $theme-base;
      background-color: $theme-base;
      text-decoration: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      color: $theme-light;

      &:active {
        background-color: $theme-light;
        color: $theme-base;
      }
    }
  }

  #add-todo-desc {
    display: none;
    position: relative;
    width: calc(100% - 5.1875rem);
    margin-left: 2.75rem;
    top: 5px;
    padding: 10px;
    font-size: 1.2rem;
  }
}

ul.todo {
  list-style: none;

  i {
    font-size: inherit;
  }

  li {
    clear: both;
    // box-shadow: 0 -1px 2px 2px rgba(115, 77, 42, 0.2);
    // border-radius: 4px;

    .todo-details-wrapper {
      display: inline-block;
      width: calc(100% - 5.1875rem);
      background: rgba(255,255,255,0.8);
      margin-bottom: 8px;
      min-height: 2.75rem;
    }

    input[type="checkbox"] {
      display: none;
    }

    label {
      @include input-size(true);
      display: inline-block;
      border: 2px solid $theme-base;
      text-align: center;
      background-color: $theme-light;
      color: $theme-light;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      vertical-align: top;
      
      transition: background-color 0.5s;
    }

    .todo-title-wrap {
      width: calc(100% - 110px);
      display: inline-block;
      overflow: hidden;
      height: 2.5rem;
    }

    .todo-desc-wrap {

      p {
        color: $theme-dark;
        margin: 0 .9375rem;
        padding: 0.5rem 0;
        border-top: 1px solid $theme-light;
        transition: color .5s;

        &.hide {
          display: none;
        }
      }
    }

    span {
      @include input-size(false);
      position: relative;
      margin: 0 5px;
      padding: 0 0.625rem;
      color: #322110;
      line-height: 2.5rem;

      transition: color .5s;

      &:before {
        content: " ";
        position: absolute;
        width: 0%;
        border-top: 2px solid $theme-dark;
        top: 1.1rem;
        left: 0;

        transition: width 0.5s;
      }
    }

    &.completed {
      
      label {
        background-color: $theme-base;
      }

      span {
        color: $theme-light;

        &:before {
          width: 100%;
        }
      }
      
      .todo-desc-wrap {

        p {
          color: $theme-light;
        }
      }
    }
  }

  .todo-button {
    @include input-size(true);
    border: 2px solid $theme-base;
    background-color: $theme-base;
    text-decoration: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: $theme-light;

    &:active {
      background-color: $theme-light;
      color: $theme-base;
    }
  }

  .todo-buttons {
    float: right;
    margin: 0;
  }
}

#footer {
  text-align: center;
}

