@import url(http://fonts.googleapis.com/css?family=Hind:600,300,400);

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font: normal 16px/1.2 'Hind', Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
}