extends ../layouts/layout.jade

block content
  .container
    ul.todo
      each todo in todos
        li
          if todo.completed
            input(class="todo-check", type="checkbox", data-id="#{todo._id}", checked)
          else
            input(class="todo-check", type="checkbox", data-id="#{todo._id}")
          .todo-buttons
            form(action="/todo/#{todo._id}?_method=DELETE", method='POST', enctype="application/x-www-form-urlencoded")
              .button
                button X
          .todo-title= todo.title

    a(href="/new") New Grind